@charset "UTF-8";
/* reset start*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Base settings */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

/* :focus,
:active {
  outline: none;
} */
/* a:focus,
a:active {
  outline: none;
} */
/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Images */
img {
  vertical-align: top;
  max-width: 100%;
}

/* font  */
input,
button,
textarea,
select {
  font: inherit;
}

/* Animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* reset end*/
@font-face {
  font-family: "Criteria CF";
  src: url("../assets/src/fonts/criteria_cf_demibold-webfont.eot");
  src: url("../assets/src/fonts/criteria_cf_demibold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/src/fonts/criteria_cf_demibold-webfont.woff2") format("woff2"), url("../assets/src/fonts/criteria_cf_demibold-webfont.woff") format("woff"), url("../assets/src/fonts/criteria_cf_demibold-webfont.ttf") format("truetype"), url("../assets/src/fonts/criteria_cf_demibold-webfont.svg#criteria_cfdemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Criteria CF";
  src: url("../assets/src/fonts/criteria_cf_extrabold-webfont.eot");
  src: url("../assets/src/fonts/criteria_cf_extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/src/fonts/criteria_cf_extrabold-webfont.woff2") format("woff2"), url("../assets/src/fonts/criteria_cf_extrabold-webfont.woff") format("woff"), url("../assets/src/fonts/criteria_cf_extrabold-webfont.ttf") format("truetype"), url("../assets/src/fonts/criteria_cf_extrabold-webfont.svg#criteria_cfextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Criteria CF";
  src: url("../assets/src/fonts/criteria_cf_extralight-webfont.eot");
  src: url("../assets/src/fonts/criteria_cf_extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/src/fonts/criteria_cf_extralight-webfont.woff2") format("woff2"), url("../assets/src/fonts/criteria_cf_extralight-webfont.woff") format("woff"), url("../assets/src/fonts/criteria_cf_extralight-webfont.ttf") format("truetype"), url("../assets/src/fonts/criteria_cf_extralight-webfont.svg#criteria_cfextralight") format("svg");
  font-weight: 275;
  font-style: normal;
}
@font-face {
  font-family: "Criteria CF";
  src: url("../assets/src/fonts/criteria_cf_light-webfont.eot");
  src: url("../assets/src/fonts/criteria_cf_light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/src/fonts/criteria_cf_light-webfont.woff2") format("woff2"), url("../assets/src/fonts/criteria_cf_light-webfont.woff") format("woff"), url("../assets/src/fonts/criteria_cf_light-webfont.ttf") format("truetype"), url("../assets/src/fonts/criteria_cf_light-webfont.svg#criteria_cflight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Criteria CF";
  src: url("../assets/src/fonts/criteria_cf_medium-webfont.eot");
  src: url("../assets/src/fonts/criteria_cf_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/src/fonts/criteria_cf_medium-webfont.woff2") format("woff2"), url("../assets/src/fonts/criteria_cf_medium-webfont.woff") format("woff"), url("../assets/src/fonts/criteria_cf_medium-webfont.ttf") format("truetype"), url("../assets/src/fonts/criteria_cf_medium-webfont.svg#criteria_cfmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Criteria CF";
  src: url("../assets/src/fonts/criteria_cf_regular-webfont.eot");
  src: url("../assets/src/fonts/criteria_cf_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/src/fonts/criteria_cf_regular-webfont.woff2") format("woff2"), url("../assets/src/fonts/criteria_cf_regular-webfont.woff") format("woff"), url("../assets/src/fonts/criteria_cf_regular-webfont.ttf") format("truetype"), url("../assets/src/fonts/criteria_cf_regular-webfont.svg#criteria_cfregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Criteria CF";
  src: url("../assets/src/fonts/criteria_cf_thin-webfont.eot");
  src: url("../assets/src/fonts/criteria_cf_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/src/fonts/criteria_cf_thin-webfont.woff2") format("woff2"), url("../assets/src/fonts/criteria_cf_thin-webfont.woff") format("woff"), url("../assets/src/fonts/criteria_cf_thin-webfont.ttf") format("truetype"), url("../assets/src/fonts/criteria_cf_thin-webfont.svg#criteria_cfthin") format("svg");
  font-weight: 250;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url("../assets/src/icons-font/icons.eot?abgotd");
  src: url("../assets/src/icons-font/icons.eot?abgotd#iefix") format("embedded-opentype"), url("../assets/src/icons-font/icons.ttf?abgotd") format("truetype"), url("../assets/src/icons-font/icons.woff?abgotd") format("woff"), url("../assets/src/icons-font/icons.svg?abgotd#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-be:before {
  content: "\e900";
  color: #f5f5f7;
}

._icon-email:before {
  content: "\e901";
  color: #f5f5f7;
}

._icon-in:before {
  content: "\e902";
  color: #f5f5f7;
}

._icon-tg:before {
  content: "\e903";
  color: #f5f5f7;
}

[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}
@media (max-width: 20em) {
  [class*=__container] {
    padding-left: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  [class*=__container] {
    padding-left: calc(
                0.625rem + 15 * ((100vw - 20rem) / 448)
            );
  }
}
@media (max-width: 20em) {
  [class*=__container] {
    padding-right: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  [class*=__container] {
    padding-right: calc(
                0.625rem + 15 * ((100vw - 20rem) / 448)
            );
  }
}
@media (min-width: 47.99875em) {
  [class*=__container] {
    padding: 0 3.4375rem;
  }
}
@media (max-width: 80em) and (min-width: 47.99875em) {
  [class*=__container] {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }
}
@media (max-width: 80em) and (min-width: 47.99875em) and (max-width: 48em) {
  [class*=__container] {
    padding-left: 1.5625rem;
  }
}
@media (max-width: 80em) and (min-width: 47.99875em) and (min-width: 48em) and (max-width: 80em) {
  [class*=__container] {
    padding-left: calc(
                1.5625rem + 30 * ((100vw - 48rem) / 512)
            );
  }
}
@media (max-width: 80em) and (min-width: 47.99875em) and (max-width: 48em) {
  [class*=__container] {
    padding-right: 1.5625rem;
  }
}
@media (max-width: 80em) and (min-width: 47.99875em) and (min-width: 48em) and (max-width: 80em) {
  [class*=__container] {
    padding-right: calc(
                1.5625rem + 30 * ((100vw - 48rem) / 512)
            );
  }
}

body {
  scroll-behavior: smooth;
  font-family: "Criteria CF" !important;
  font-weight: 400;
  background: #1d1d1f;
  color: #f5f5f7;
  font-size: 1rem;
  overflow-x: hidden;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  transform: translate(0, -50%);
  right: 0;
  width: 20.375rem;
  height: 20.375rem;
  border-radius: 50%;
  background: #32e6e2;
  filter: blur(330px);
}
@media (max-width: 20em) {
  .wrapper::before {
    width: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .wrapper::before {
    width: calc(
                9.375rem + 176 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .wrapper::before {
    height: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .wrapper::before {
    height: calc(
                10rem + 166 * ((100vw - 20rem) / 960)
            );
  }
}
.wrapper.iphone::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(209.78deg, rgba(50, 230, 226, 0.66) 17.76%, rgba(0, 255, 249, 0) 67%);
  opacity: 0.09;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(12vmax);
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.glow-button {
  --button-background: #1d1d1f;
  --button-color: #32e6e2;
  --button-shadow: none;
  --button-shine-left: transparent;
  --button-shine-right: #32e6e2;
  --button-glow-start: #32e6e2;
  --button-glow-end: #009ffd;
  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 0.9375rem;
  font-weight: 800;
  border-radius: 11px;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: var(--button-color);
  padding: 0;
  margin: 0;
  background: transparent;
  z-index: 1;
  box-shadow: 0 8px 20px var(--button-shadow);
  text-align: center;
}
.glow-button .gradient {
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  transform: scaleY(1.02) scaleX(1.005) rotate(-0.35deg);
}
.glow-button .gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(1.05) translateY(-44px) rotate(0deg) translateZ(0);
  padding-bottom: 100%;
  border-radius: 100%;
  background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
  animation: rotate linear 2s infinite;
}
.glow-button span {
  z-index: 1;
  position: relative;
  display: block;
  padding: 0.5rem 0;
  width: 9.6875rem;
  border-radius: inherit;
  background-color: var(--button-background);
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.glow-button span:before {
  content: "";
  position: absolute;
  left: -16px;
  top: -16px;
  transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px)) translateZ(0);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--button-glow, transparent);
  opacity: var(--button-glow-opacity, 0);
  transition: opacity var(--button-glow-duration, 0.5s);
  filter: blur(20px);
}
.glow-button:hover {
  --button-glow-opacity: 1;
  --button-glow-duration: 0.25s;
}

@keyframes rotate {
  to {
    transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
  }
}
@media (max-width: 54.375em) {
  .icon-menu {
    margin: 0.3125rem;
    z-index: 100;
    display: block;
    position: relative;
    width: 2.375rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    content: "";
    position: absolute;
    height: 0.125rem;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .icon-menu::before, .icon-menu::after {
    content: "";
  }
  .icon-menu::before {
    right: 0;
    width: 1.25rem;
    top: 0;
  }
  .icon-menu::after {
    left: 0;
    width: 1.25rem;
    bottom: 0;
  }
  .icon-menu span {
    left: 0;
    width: 100%;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active::before {
    width: 100%;
    top: 50%;
    transform: rotate(-45deg) translate(0px, 0%);
  }
  .icon-menu._active::after {
    width: 100%;
    top: 50%;
    transform: rotate(45deg) translate(0px, 0%);
  }
}

.header {
  position: fixed;
  min-height: 3.75rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 200;
}
@media (max-width: 20em) {
  .header {
    padding-top: 0.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .header {
    padding-top: calc(
                0.4375rem + 9 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 0.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .header {
    padding-bottom: calc(
                0.4375rem + 9 * ((100vw - 20rem) / 960)
            );
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 100;
  width: 5.5rem;
  height: 2.25rem;
}
@media (max-width: 20.125em) {
  .header__logo {
    width: 3.9375rem;
  }
}
@media (min-width: 20.125em) and (max-width: 48em) {
  .header__logo {
    width: calc(
                3.9375rem + 25 * ((100vw - 20.125rem) / 446)
            );
  }
}
@media (max-width: 20.125em) {
  .header__logo {
    height: 1.625rem;
  }
}
@media (min-width: 20.125em) and (max-width: 48em) {
  .header__logo {
    height: calc(
                1.625rem + 10 * ((100vw - 20.125rem) / 446)
            );
  }
}
.nav-header__list {
  display: flex;
  column-gap: 2rem;
  line-height: 1.4;
}
.nav-header__link {
  transition: color 0.2s ease;
}
@media (any-hover: hover) {
  .nav-header__link:hover {
    color: #32e6e2;
    transition: color 0.2s ease;
  }
}

@media (max-width: 54.375em) {
  .menu {
    display: block;
  }
}
.menu__body {
  background: rgba(29, 29, 31, 0.97);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: fixed;
  z-index: 50;
  top: 0;
  left: 130%;
  transition: left 0.3s ease;
  width: 50vw;
  height: 100vh;
  padding-top: 5.625rem;
  padding-right: 3.4375rem;
  overflow: auto;
}
@media (max-width: 20.125em) {
  .menu__body {
    padding-top: 4.375rem;
  }
}
@media (min-width: 20.125em) and (max-width: 48em) {
  .menu__body {
    padding-top: calc(
                4.375rem + 20 * ((100vw - 20.125rem) / 446)
            );
  }
}
@media (max-width: 48em) {
  .menu__body {
    padding-right: 1.5625rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  .menu__body {
    padding-right: calc(
                1.5625rem + 30 * ((100vw - 48rem) / 512)
            );
  }
}
.menu__body._active {
  transition: left 0.3s ease;
  left: 50%;
}
.menu__body .nav-header__list {
  flex-direction: column;
  align-items: end;
  row-gap: 2rem;
}
@media (max-width: 42.1875em) {
  .menu__body {
    width: 100vw;
  }
  .menu__body._active {
    transition: left 0.3s ease;
    left: 0%;
  }
}
.menu__social {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 2rem;
}

.social-menu__item:first-child {
  margin-top: 2rem;
  line-height: 1.4;
  font-weight: 400;
}
.social-menu__link {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.social-menu__link::before {
  font-size: 1.125rem;
}

.aside {
  display: none;
}
@media (min-width: 54.4375em) {
  .aside {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    pointer-events: none;
  }
  .aside__container {
    padding-right: 0.625rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .aside__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aside__list::before {
    content: "";
    transform: translate(50%, 0);
    width: 0.125rem;
    height: 5rem;
    background: #f5f5f7;
    margin-bottom: 1.25rem;
  }
  .aside__list::after {
    content: "";
    transform: translate(50%, 0);
    width: 0.125rem;
    height: 5rem;
    background: #f5f5f7;
    margin-top: 1.25rem;
  }
  .aside__item {
    margin: 1.25rem 0;
  }
  .aside__link {
    pointer-events: all;
    position: relative;
    z-index: 100;
    transition: color 0.2s ease;
  }
}
@media (min-width: 54.4375em) and (any-hover: hover) {
  .aside__link:hover::before {
    color: #32e6e2;
    transition: color 0.2s ease;
  }
}
@media (min-width: 54.4375em) {
  .aside__link::before {
    font-size: 1.625rem;
  }
}

.content__main-block {
  position: relative;
  z-index: 1;
}
.content__skills {
  padding-top: 7.8125rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 20em) {
  .content__skills {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .content__skills {
    padding-top: calc(
                3.125rem + 75 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .content__skills {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .content__skills {
    padding-bottom: calc(
                2.5rem + 20 * ((100vw - 20rem) / 960)
            );
  }
}
.content__works {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 20em) {
  .content__works {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .content__works {
    padding-top: calc(
                2.5rem + 20 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .content__works {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .content__works {
    padding-bottom: calc(
                2.5rem + 20 * ((100vw - 20rem) / 960)
            );
  }
}
.content__about {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 20em) {
  .content__about {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .content__about {
    padding-top: calc(
                2.5rem + 20 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20.125em) {
  .content__about {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 20.125em) and (max-width: 48em) {
  .content__about {
    padding-bottom: calc(
                1.875rem + 30 * ((100vw - 20.125rem) / 446)
            );
  }
}

.main-block {
  padding-top: 12.8125rem;
  padding-bottom: 7.8125rem;
}
.main-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20.375rem;
  height: 20.375rem;
  border-radius: 50%;
  background-color: #32e6e2;
  background-size: cover;
  filter: blur(330px);
  -moz-filter: blur(330px);
  -webkit-filter: blur(330px);
  -o-filter: blur(330px);
}
@media (max-width: 20em) {
  .main-block::before {
    width: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .main-block::before {
    width: calc(
                9.375rem + 176 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .main-block::before {
    height: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .main-block::before {
    height: calc(
                10rem + 166 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .main-block {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .main-block {
    padding-top: calc(
                5rem + 125 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .main-block {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .main-block {
    padding-bottom: calc(
                3.125rem + 75 * ((100vw - 20rem) / 960)
            );
  }
}
.main-block__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-block__title {
  font-weight: 600;
  line-height: 1.4;
  font-size: 6rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 20em) {
  .main-block__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .main-block__title {
    font-size: calc(
                2.5rem + 56 * ((100vw - 20rem) / 960)
            );
  }
}
.main-block__text {
  text-align: center;
  max-width: 35.9375rem;
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 20em) {
  .main-block__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .main-block__text {
    font-size: calc(
                1rem + 8 * ((100vw - 20rem) / 960)
            );
  }
}
.main-block__actions {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.skills {
  position: relative;
  z-index: 100;
}
.skills__title {
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 20em) {
  .skills__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .skills__title {
    font-size: calc(
                1.25rem + 16 * ((100vw - 20rem) / 960)
            );
  }
}

:root {
  --card-color: #1d1d1f;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
  column-gap: 2rem;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  height: 202px;
  flex-direction: column;
  position: relative;
  width: 282px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  width: 280px;
  height: 200px;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
.card-image {
  margin-top: 0.9375rem;
  max-height: 6.25rem;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info-title > h3 {
  text-align: center;
  line-height: 1.2;
  font-size: 1.25rem;
}
@media (max-width: 20em) {
  .card-info-title > h3 {
    font-size: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .card-info-title > h3 {
    font-size: calc(
                0.9375rem + 5 * ((100vw - 20rem) / 960)
            );
  }
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media (max-width: 40em) {
  #cards {
    column-gap: 1.75rem;
  }
  .card-image {
    margin-top: 0.625rem;
    max-height: 6.25rem;
  }
  .card > .card-content {
    width: 11.125rem;
    height: 11.875rem;
  }
  .card {
    width: 11.25rem;
    height: 12rem;
  }
}
@media (max-width: 27.5em) {
  #cards {
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .card-image {
    margin-top: 0.3125rem;
    max-height: 4.6875rem;
  }
  .card > .card-content {
    width: 9.5625rem;
    height: 9.375rem;
  }
  .card {
    width: 9.6875rem;
    height: 9.5rem;
  }
}
@media (max-width: 21.75em) {
  #cards {
    column-gap: 0.75rem;
    row-gap: 0.75rem;
  }
  .card-image {
    margin-top: 0.3125rem;
    max-height: 4.6875rem;
  }
  .card > .card-content {
    width: 8.875rem;
    height: 9.375rem;
  }
  .card {
    width: 9rem;
    height: 9.5rem;
  }
}
.works {
  position: relative;
}
.works::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 20.375rem;
  height: 21.375rem;
  border-radius: 50%;
  background: #32e6e2;
  filter: blur(330px);
}
.works__title {
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
@media (max-width: 20em) {
  .works__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .works__title {
    font-size: calc(
                1.25rem + 16 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .works__title {
    margin-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .works__title {
    margin-bottom: calc(
                1rem + 16 * ((100vw - 20rem) / 960)
            );
  }
}
.works__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.works__items {
  width: 59.375rem;
}
@media (max-width: 20em) {
  .works__items {
    width: 30rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .works__items {
    width: calc(
                30rem + 470 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 43.6875em) {
  .works__items {
    width: 100%;
  }
}
.works__item {
  position: relative;
  display: flex;
  width: 100%;
  height: 22.8125rem;
  border-radius: 24px;
  border: 1px solid rgb(85, 83, 83);
}
@media (max-width: 48em) {
  .works__item {
    height: 20.625rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  .works__item {
    height: calc(
                20.625rem + 35 * ((100vw - 48rem) / 512)
            );
  }
}
.works__item:not(:last-child) {
  margin-bottom: 7.5rem;
}
@media (max-width: 48em) {
  .works__item:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  .works__item:not(:last-child) {
    margin-bottom: calc(
                5rem + 40 * ((100vw - 48rem) / 512)
            );
  }
}
@media (max-width: 43.6875em) {
  .works__item {
    height: 39rem;
    display: block;
  }
}
@media (max-width: 43.6875em) {
  .works__item:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.item-work {
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.item-work._celestial {
  background-image: url("../assets/src/images/works/bg3.png");
}
@media (max-width: 43.6875em) {
  .item-work._celestial .item-work__body {
    background: linear-gradient(179.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
  }
}
.item-work._aimagine .glow-button {
  --button-background: #28333b;
}
.item-work._aimagine::after {
  content: "";
  position: absolute;
  background-image: url("../assets/src/images/works/gr2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 43.6875em) {
  .item-work._aimagine::after {
    height: 39.125rem;
  }
}
.item-work._aimagine::before {
  content: "";
  position: absolute;
  background-image: url("../assets/src/images/works/binary.png");
  width: 290px;
  height: 290px;
  top: -50px;
  left: 27%;
  z-index: -1;
}
@media (max-width: 37.5em) {
  .item-work._aimagine::before {
    left: -110px;
  }
}
@media (max-width: 43.6875em) {
  .item-work._aimagine .item-work__body {
    background: linear-gradient(179.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
  }
}
.item-work._ecredits {
  background-image: url("../assets/src/images/works/part.png");
}
.item-work._ecredits::after {
  content: "";
  position: absolute;
  background-image: url("../assets/src/images/works/noise.png");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 43.6875em) {
  .item-work._ecredits .item-work__body {
    background: linear-gradient(179.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
  }
}
.item-work._evertus {
  background: linear-gradient(45deg, #7f30cb 0%, #01dcba 100%);
  backdrop-filter: blur(0);
}
.item-work._evertus .item-work__body {
  background: none;
}
.item-work._evertus .glow-button {
  --button-background: #684fc8;
}
@media (max-width: 43.6875em) {
  .item-work._evertus .glow-button {
    --button-background: #4f72c5;
  }
}
.item-work._club {
  background: linear-gradient(180deg, #001f33 0%, #001930 100%);
  backdrop-filter: blur(0);
}
.item-work._club .item-work__body {
  background: none;
}
.item-work._club .glow-button {
  --button-background: #001930;
}
.item-work._targetiva {
  background: #f37622;
  backdrop-filter: blur(0);
}
.item-work._targetiva .glow-button {
  --button-background: #b9530e;
}
.item-work._targetiva .item-work__body {
  background: none;
}
.item-work._targetiva::after {
  content: "";
  position: absolute;
  background-image: url("../assets/src/images/works/bg5.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.item-work__body {
  position: relative;
  z-index: 5;
  background: linear-gradient(89.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
  backdrop-filter: blur(2px);
  border-radius: 1.5rem;
  -webkit-backdrop-filter: blur(2px);
  padding: 2rem 1.5rem;
}
@media (min-width: 43.75em) {
  .item-work__body {
    max-width: 27.5rem;
  }
}
@media (max-width: 43.6875em) {
  .item-work__body {
    height: 50%;
  }
}
@media (max-width: 59.125em) and (min-width: 43.75em) {
  .item-work__body {
    max-width: 25rem;
  }
}
.item-work__title {
  max-width: 20.625rem;
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 20em) {
  .item-work__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .item-work__title {
    font-size: calc(
                1.125rem + 6 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .item-work__title {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .item-work__title {
    margin-bottom: calc(
                0.5rem + 8 * ((100vw - 20rem) / 960)
            );
  }
}
.item-work__text {
  max-width: 21.25rem;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 20em) {
  .item-work__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .item-work__text {
    font-size: calc(
                0.875rem + 2 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20.125em) {
  .item-work__text {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 20.125em) and (max-width: 48em) {
  .item-work__text {
    margin-bottom: calc(
                0.5rem + 8 * ((100vw - 20.125rem) / 446)
            );
  }
}
@media (max-width: 43.6875em) {
  .item-work__text {
    max-width: 28.125rem;
  }
}
.item-work__img {
  position: absolute;
  width: 45rem;
  height: 37.5rem;
  top: -4.375rem;
  right: -7.5rem;
  z-index: 3;
}
@media (max-width: 20em) {
  .item-work__img {
    width: 28.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .item-work__img {
    width: calc(
                28.75rem + 260 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .item-work__img {
    height: 21.875rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .item-work__img {
    height: calc(
                21.875rem + 250 * ((100vw - 20rem) / 960)
            );
  }
}
.item-work__img._ecredits::after {
  content: "";
  position: absolute;
  background-image: url("../assets/src/images/works/gr.png");
  width: 30.25rem;
  height: 29.125rem;
  top: 70px;
  left: 50px;
  z-index: -1;
}
@media (max-width: 43.6875em) {
  .item-work__img._ecredits::after {
    top: -100px;
    left: 20px;
  }
}
.item-work__img._aimagine::after {
  content: "";
  position: absolute;
  background-image: url("../assets/src/images/works/binary02.png");
  width: 37.5rem;
  height: 25rem;
  top: 45px;
  left: 120px;
  z-index: -1;
}
@media (max-width: 43.6875em) {
  .item-work__img._aimagine::after {
    top: -50px;
    left: 20px;
  }
}
@media (max-width: 50em) {
  .item-work__img {
    top: -2.5rem;
  }
}
@media (max-width: 43.6875em) {
  .item-work__img {
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.item-works__list {
  margin-bottom: 1.5rem;
}
@media (max-width: 20em) {
  .item-works__list {
    margin-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .item-works__list {
    margin-bottom: calc(
                1rem + 8 * ((100vw - 20rem) / 960)
            );
  }
}
.item-works__item {
  display: inline-flex;
  column-gap: 0.25rem;
  font-weight: 275;
  font-size: 0.875rem;
  line-height: 1.4;
  padding: 0.25rem 1rem;
  border: 1px solid #f5f5f7;
  border-radius: 4px;
  margin-bottom: 0.25rem;
}
@media (max-width: 20em) {
  .item-works__item {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .item-works__item {
    font-size: calc(
                0.75rem + 2 * ((100vw - 20rem) / 960)
            );
  }
}
.item-works__link {
  display: inline-block;
}

.about__container {
  max-width: 66.25rem;
}
@media (min-width: 47.99875em) and (min-width: 54.375em) {
  .about__container {
    padding: 0 4.5833333333rem;
  }
}
.about__title {
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
@media (max-width: 20em) {
  .about__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .about__title {
    font-size: calc(
                1.25rem + 16 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 20em) {
  .about__title {
    margin-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .about__title {
    margin-bottom: calc(
                1rem + 16 * ((100vw - 20rem) / 960)
            );
  }
}
.body-about {
  border: 1px solid rgb(85, 83, 83);
  display: flex;
  column-gap: 1.5rem;
  padding: 2rem 1.5rem;
  background: #1d1d1f;
  border-radius: 24px;
}
@media (max-width: 43.6875em) {
  .body-about {
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem 1.5rem;
  }
}
.body-about__title {
  flex: 1 0 230px;
  width: 18.75rem;
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.5rem;
}
@media (max-width: 20em) {
  .body-about__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .body-about__title {
    font-size: calc(
                1.125rem + 6 * ((100vw - 20rem) / 960)
            );
  }
}
@media (max-width: 43.6875em) {
  .body-about__title {
    flex: 1 0 auto;
  }
}
.body-about__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 20em) {
  .body-about__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .body-about__text {
    font-size: calc(
                0.875rem + 2 * ((100vw - 20rem) / 960)
            );
  }
}
.body-about__link {
  color: #32e6e2;
  text-decoration: underline !important;
}

.back__container {
  padding-bottom: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.875rem;
}
@media (max-width: 20em) {
  .back__container {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .back__container {
    padding-bottom: calc(
                2.5rem + 20 * ((100vw - 20rem) / 960)
            );
  }
}
.back__container img {
  pointer-events: none;
}
.back__text {
  pointer-events: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #32e6e2;
}
@media (max-width: 20em) {
  .back__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  .back__text {
    font-size: calc(
                0.875rem + 2 * ((100vw - 20rem) / 960)
            );
  }
}