.content {
    &__main-block {
        position: relative;
        z-index: 1;
    }
    &__skills {
        @include adaptive-value("padding-top", 125, 50, 1);
        @include adaptive-value("padding-bottom", 60, 40, 1);
    }
    &__works {
        @include adaptive-value("padding-top", 60, 40, 1);
        @include adaptive-value("padding-bottom", 60, 40, 1);
    }
    &__about {
        @include adaptive-value("padding-top", 60, 40, 1);
        @include adaptive-value("padding-bottom", 60, 30, 1, 322, 768);
    }
}
.main-block {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: rem(326);
        height: rem(342);
        border-radius: 50%;
        background: #32e6e2;
        filter: blur(330px);
    }
    @include adaptive-value("padding-top", 205, 80, 1);
    @include adaptive-value("padding-bottom", 125, 50, 1);
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        font-weight: 600;
        line-height: 1.4;
        @include adaptive-value("font-size", 96, 40, 1);
        margin-bottom: rem(24);
    }

    &__text {
        text-align: center;
        max-width: rem(575);
        font-weight: 600;
        line-height: 1.4;
        @include adaptive-value("font-size", 24, 16, 1);
        margin-bottom: rem(32);
    }

    &__actions {
        display: flex;
        align-items: center;
        column-gap: rem(32);
    }
    &__link {
    }
}

// ============================= SKILLS =================================================================================

.skills {
    position: relative;
    z-index: 100;
    &__container {
    }

    &__title {
        text-align: center;
        font-weight: 600;
        line-height: 1.2;
        @include adaptive-value("font-size", 36, 20, 1);
        margin-bottom: rem(24);
    }
}

:root {
    --card-color: #1d1d1f;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: rem(32);
    column-gap: rem(32);
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    display: flex;
    height: 202px;
    flex-direction: column;
    position: relative;
    width: 282px;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card::after {
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    width: 280px;
    height: 200px;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

.card-image {
    margin-top: rem(15);
    max-height: rem(100);
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info-title > h3 {
    text-align: center;
    line-height: 1.2;
    @include adaptive-value("font-size", 20, 15, 1);
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media (max-width: em(640)) {
    #cards {
        column-gap: rem(28);
    }
    .card-image {
        margin-top: rem(10);
        max-height: rem(100);
    }
    .card > .card-content {
        width: rem(178);
        height: rem(190);
    }
    .card {
        width: rem(180);
        height: rem(192);
    }
}
@media (max-width: em(440)) {
    #cards {
        column-gap: rem(16);
        row-gap: rem(16);
    }
    .card-image {
        margin-top: rem(5);
        max-height: rem(75);
    }
    .card > .card-content {
        width: rem(153);
        height: rem(150);
    }
    .card {
        width: rem(155);
        height: rem(152);
    }
}
@media (max-width: em(348)) {
    #cards {
        column-gap: rem(12);
        row-gap: rem(12);
    }
    .card-image {
        margin-top: rem(5);
        max-height: rem(75);
    }
    .card > .card-content {
        width: rem(142);
        height: rem(150);
    }
    .card {
        width: rem(144);
        height: rem(152);
    }
}

// =========================== Works =================================================================

.works {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 0;
        width: rem(326);
        height: rem(342);
        border-radius: 50%;
        background: #32e6e2;
        filter: blur(330px);
    }
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    &__title {
        text-align: center;
        font-weight: 600;
        @include adaptive-value("font-size", 36, 20, 1);
        line-height: 1.2;
        @include adaptive-value("margin-bottom", 32, 16, 1);
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    &__items {
        @include adaptive-value("width", 950, 480, 1);
        @media (max-width: em(699)) {
            width: 100%;
        }
    }

    &__item {
        position: relative;
        display: flex;

        width: 100%;
        @include adaptive-value("height", 365, 330, 1, 768);
        border-radius: 24px;
        border: 1px solid rgb(85, 83, 83);
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 120, 80, 1, 768);
        }
        @media (max-width: em(699)) {
            height: rem(624);
            display: block;
        }
        @media (max-width: em(699)) {
            &:not(:last-child) {
                margin-bottom: rem(16);
            }
        }
    }
}
.item-work {
    &._celestial {
        background-image: url("../assets/src/images/works/bg3.png");
        .item-work__body {
            @media (max-width: em(699)) {
                background: linear-gradient(179.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
            }
        }
    }
    &._aimagine {
        .glow-button {
            --button-background: #28333b;
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url("../assets/src/images/works/gr2.png");
            background-size: cover;

            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            @media (max-width: em(699)) {
                height: rem(626);
            }
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url("../assets/src/images/works/binary.png");
            width: 290px;
            height: 290px;
            top: -50px;
            left: 27%;
            z-index: -1;
            @media (max-width: em(600)) {
                left: -110px;
            }
        }
        .item-work__body {
            @media (max-width: em(699)) {
                background: linear-gradient(179.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
            }

            // @media (max-width: em(699)) {
            //     height: 100%;
            // }
        }
    }
    &._ecredits {
        background-image: url("../assets/src/images/works/part.png");
        &::after {
            content: "";
            position: absolute;
            background-image: url("../assets/src/images/works/noise.png");
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .item-work__body {
            @media (max-width: em(699)) {
                background: linear-gradient(179.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
            }
        }
    }
    &._evertus {
        background: linear-gradient(45deg, #7f30cb 0%, #01dcba 100%);
        backdrop-filter: blur(0);
        .item-work__body {
            background: none;
        }
        .glow-button {
            --button-background: #684fc8;
            @media (max-width: em(699)) {
                --button-background: #4f72c5;
            }
        }
    }
    &._club {
        background: linear-gradient(180deg, #001f33 0%, #001930 100%);
        backdrop-filter: blur(0);
        .item-work__body {
            background: none;
        }
        .glow-button {
            --button-background: #001930;
        }
    }
    &._targetiva {
        background: #f37622;
        backdrop-filter: blur(0);
        .glow-button {
            --button-background: #b9530e;
        }
        .item-work__body {
            background: none;
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url("../assets/src/images/works/bg5.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    position: relative;
    overflow: hidden;

    &__body {
        position: relative;
        z-index: 5;
        background: linear-gradient(89.86deg, rgba(29, 29, 31, 0.45) 0.15%, rgba(29, 29, 31, 0) 97.14%);
        backdrop-filter: blur(2px);

        padding: rem(32) rem(24);
        @media (min-width: em(700)) {
            max-width: rem(440);
        }
        @media (max-width: em(699)) {
            height: 50%;
        }
        @media (max-width: em(946)) and (min-width: em(700)) {
            max-width: rem(400);
        }
    }

    &__title {
        max-width: rem(330);
        font-weight: 600;
        line-height: 1.4;
        @include adaptive-value("font-size", 24, 18, 1);
        @include adaptive-value("margin-bottom", 16, 8, 1);
    }

    &__text {
        max-width: rem(340);
        font-weight: 400;
        line-height: 1.4;
        @include adaptive-value("font-size", 16, 14, 1);
        @include adaptive-value("margin-bottom", 16, 8, 1, 322, 768);
        @media (max-width: em(699)) {
            max-width: rem(450);
        }
    }

    &__img {
        position: absolute;
        @include adaptive-value("width", 720, 460, 1);
        @include adaptive-value("height", 600, 350, 1);

        top: rem(-70);
        right: rem(-120);
        z-index: 3;
        &._ecredits::after {
            content: "";
            position: absolute;
            background-image: url("../assets/src/images/works/gr.png");
            width: rem(484);
            height: rem(466);
            top: 70px;
            left: 50px;
            z-index: -1;
            @media (max-width: em(699)) {
                top: -100px;
                left: 20px;
            }
        }
        &._aimagine::after {
            content: "";
            position: absolute;
            background-image: url("../assets/src/images/works/binary02.png");
            width: rem(600);
            height: rem(400);
            top: 45px;
            left: 120px;
            z-index: -1;
            @media (max-width: em(699)) {
                top: -50px;
                left: 20px;
            }
        }
        @media (max-width: em(800)) {
            top: rem(-40);
        }
        @media (max-width: em(699)) {
            top: 45%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}
.item-works {
    &__list {
        @include adaptive-value("margin-bottom", 24, 16, 1);
    }

    &__item {
        display: inline-flex;
        column-gap: rem(4);
        font-weight: 275;
        @include adaptive-value("font-size", 14, 12, 1);
        line-height: 1.4;
        padding: rem(4) rem(16);
        border: 1px solid #f5f5f7;
        border-radius: 4px;
        margin-bottom: rem(4);
    }

    &__link {
        display: inline-block;
    }
}
//=============================About ========================

.about {
    &__container {
        max-width: rem(1060);
        @media (min-width: $tablet) and (min-width: em(870)) {
            padding: 0 rem(math.div($containerPadding, 1.5));
        }
    }

    &__title {
        text-align: center;
        font-weight: 600;
        @include adaptive-value("font-size", 36, 20, 1);
        line-height: 1.2;
        @include adaptive-value("margin-bottom", 32, 16, 1);
    }

    &__body {
    }
}
.body-about {
    border: 1px solid rgb(85, 83, 83);
    display: flex;
    column-gap: rem(24);
    padding: rem(32) rem(24);
    background: #1d1d1f;
    border-radius: 24px;
    @media (max-width: em(699)) {
        flex-direction: column;
        row-gap: rem(8);
        padding: rem(16) rem(24);
    }
    &__title {
        flex: 1 0 230px;
        width: rem(300);
        font-weight: 600;
        line-height: 1.4;
        @include adaptive-value("font-size", 24, 18, 1);
        @media (max-width: em(699)) {
            flex: 1 0 auto;
        }
    }

    &__text {
        font-weight: 400;
        @include adaptive-value("font-size", 16, 14, 1);
        line-height: 1.5;
    }

    &__link {
        color: #32e6e2;
        text-decoration: underline !important;
    }
}
.back {
    &__container {
        @include adaptive-value("padding-bottom", 60, 40, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(14);
        img {
            pointer-events: none;
        }
    }

    &__text {
        pointer-events: none;
        font-weight: 400;
        @include adaptive-value("font-size", 16, 14, 1);
        line-height: 140%;

        color: #32e6e2;
    }
}
